# ignore all dotfiles
/dotfiles/*
/dotfiles_mac/*

# for common
!/dotfiles/.config/
/dotfiles/.config/*
!/dotfiles/.config/alacritty/
!/dotfiles/.config/alacritty/alacritty.toml
!/dotfiles/.config/powershell/
!/dotfiles/.config/powershell/Microsoft.Powershell_profile.ps1
!/dotfiles/.config/powershell/profile.ps1
!/dotfiles/.config/zellij/
!/dotfiles/.config/zellij/config.kdl
!/dotfiles/.config/starship.toml
!/dotfiles/.profile
!/dotfiles/.vimrc
!/dotfiles/.zprofile
!/dotfiles/.zshrc
!/dotfiles/.zshenv

# for mac
!/dotfiles_mac/.Brewfile
!/dotfiles_mac/.gitignore_global
