# ignore all dotfiles
/dotfiles/*

# track dotfiles
!/dotfiles/.config/alacritty/alacritty.yml
!/dotfiles/.config/starship.toml
!/dotfiles/.config/powershell/Microsoft.Powershell_profile.ps1
!/dotfiles/.config/powershell/profile.ps1
!/dotfiles/.config/zellij/config.kdl
!/dotfiles/.profile
!/dotfiles/.zprofile
!/dotfiles/.zshrc
!/dotfiles/.zshenv
!/dotfiles/.Brewfile
!/dotfiles/.vimrc
!/dotfiles/.gitignore_global_mac
